[Desktop Entry]
Name=strixctl
Comment=ASUS ROG system control
Exec=strixctl
Icon=strixctl
Type=Application
SingleMainWindow=true
StartupWMClass=strixctl
Categories=System;Settings;
